
<div class="container">
  <% if current_user %>
<h1>Todo List</h1>

<%= render 'form' %>

  <h1>Next</h1>
<table class="table">


<% @tasks.each do |task| %>
  <tr>
    <td><%= best_in_place task, :description, type: :textarea %></td>
    <td><%= link_to "Waiting", waiting_toggle_task_path(task), :method => :put %></td>
    <td><%= link_to "Complete", complete_toggle_task_path(task), :method => :put %></td>
    <!-- <td><%= link_to 'Show', task %></td> -->
    <!-- <td><%= link_to 'Edit', edit_task_path(task) %></td> -->
    <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Delete this Todo item?' } %></td>
  </tr>
<% end %>

</table>


</div>

<div class="container">


  <h1>Waiting</h1>
<table class="table">


<% @taskwaiting.order('description').each do |task| %>
  <tr>
    <td><%= best_in_place task, :description, type: :textarea %></td>
    <td><%= link_to "No Longer Waiting", waiting_toggle_off_task_path(task), :method => :put %></td>
    <td><%= link_to "Complete", complete_toggle_task_path(task), :method => :put %></td>
    <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
</div>

<div class="container">
  <h1>Complete</h1>
<table class="table">


<% @taskcompleted.order('description').each do |task| %>
  <tr>
    <td><%= task.description %></td>
    <td><%= link_to "Not Complete", complete_toggle_off_task_path(task), :method => :put %></td>
    <td><%= link_to 'Remove', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
</div>

<% else %>
<p>Sign up for an account or Log In to see all of your tasks.</p>
<% end %>